body{
    background:red;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:0px;

}
header{
    padding:10px;
    background:#1F2937;
}
.section1-container{
    padding:10px;
    background:#1F2937;
}
.section2-container{
    padding:10px;
    background:white;
}
.section3-container{
    padding:10px;
    background:#E5E7EB;
}
.section4-container{
    padding:10px;
    background:white;
}
footer{
    padding:10px;
    background:#1F2937
}